@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto_regular/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_regular/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto_regular/roboto-regular-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto_bold/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_bold/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto_bold/roboto-bold-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto_light/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_light/roboto-light-webfont.woff") format("woff"), url("../fonts/roboto_light/roboto-light-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoMedium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto_medium/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto_medium/roboto-medium-webfont.woff") format("woff"), url("../fonts/roboto_medium/roboto-medium-webfont.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  width: 100%;
  height: 100%;
  font-family: RobotoBold; }

.hidden {
  display: none; }

.block {
  display: block; }

.center {
  width: 80%;
  height: 100%;
  margin: auto; }

header nav {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: #fff;
  top: 0;
  z-index: 101; }
  header nav .logo {
    float: left;
    width: 55px;
    margin-left: 30px;
    margin-top: 20px; }
  header nav ul {
    float: right; }
    header nav ul li {
      display: inline-block;
      margin-top: 25px; }
      header nav ul li a {
        font-family: RobotoRegular;
        text-decoration: none;
        text-transform: uppercase;
        color: #515151;
        margin-right: 40px;
        font-size: 14px;
        font-weight: bold;
        -webkit-transition: 0.1s;
        transition: 0.1s; }
        header nav ul li a:hover {
          border-bottom: 2px solid #000; }

header .main {
  width: 100%;
  height: 475px;
  background-image: url("../img/head.jpg");
  background-repeat: no-repeat;
  background-size: 100% 600px;
  background-position: 100% -100px; }
  header .main .center {
    position: relative; }
    header .main .center h1 {
      font-family: RobotoBold;
      font-size: 56px;
      color: #fff;
      display: block;
      padding-top: 130px; }
    header .main .center h3 {
      font-family: RobotoMedium;
      font-size: 18px;
      color: #cbcbca;
      text-transform: uppercase;
      display: block;
      margin-top: 30px; }
    header .main .center button {
      width: 135px;
      height: 40px;
      color: #fff;
      background-color: #188cef;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      margin-top: 35px;
      font-family: RobotoMedium;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
      header .main .center button:hover {
        cursor: pointer;
        font-size: 15px; }

.products {
  background-color: #f2f2f2;
  padding-bottom: 120px; }
  .products .center h2 {
    font-family: RobotoBold;
    font-size: 46px;
    display: block;
    padding-top: 100px;
    margin-bottom: 60px;
    color: #252525; }
  .products .center .sprites_1 {
    margin-left: 5%; }
  .products .center div {
    display: inline-block;
    width: 25%;
    height: 300px;
    background-color: #fff;
    margin-right: 5%;
    text-align: center;
    -webkit-box-shadow: 0 0 5px rgba(100, 103, 102, 0.5);
            box-shadow: 0 0 5px rgba(100, 103, 102, 0.5); }
    .products .center div div {
      width: 135px;
      height: 110px;
      display: block;
      margin: auto;
      margin-top: 40px;
      -webkit-box-shadow: none;
              box-shadow: none; }
    .products .center div .first {
      background-image: url("../img/sprites.png");
      background-repeat: no-repeat;
      background-size: 900px;
      background-position: 25px 0px; }
    .products .center div .second {
      background-image: url("../img/sprites.png");
      background-repeat: no-repeat;
      background-size: 900px;
      background-position: -380px 0px; }
    .products .center div .third {
      background-image: url("../img/sprites.png");
      background-repeat: no-repeat;
      background-size: 900px;
      background-position: -790px 0px; }
    .products .center div span {
      display: block;
      margin-top: 30px;
      margin-bottom: 30px; }
    .products .center div button {
      width: 110px;
      height: 36px;
      border: 2px solid #188cef;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      color: #188cef;
      background-color: #fff;
      font-family: RobotoMedium;
      font-size: 15px;
      cursor: pointer;
      -webkit-transition: 0.1s;
      transition: 0.1s; }
      .products .center div button:hover {
        font-size: 16px; }

.advert {
  width: 100%;
  height: 100%;
  padding-bottom: 9%;
  background-image: url("../img/main.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0px;
  text-align: center; }
  .advert .center h2 {
    display: block;
    padding-top: 140px;
    color: #fff;
    padding-bottom: 40px;
    font-family: RobotoBold;
    font-size: 42px; }
  .advert .center span {
    color: #cccbca;
    font-family: RobotoLight;
    font-size: 22px; }

.news {
  height: 100%;
  background-color: #fff; }
  .news .center h2 {
    display: block;
    padding-top: 80px;
    padding-bottom: 40px;
    font-family: RobotoBold;
    font-size: 46px; }
  .news .center .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    font-family: RobotoMedium;
    font-size: 16px; }
    .news .center .container .viewall {
      display: block;
      width: 200px;
      height: 50px;
      margin-top: 40px;
      margin-left: 50px;
      border: 2px solid #188cef;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      color: #188cef;
      background-color: #fff;
      cursor: pointer;
      -webkit-transition: 0.1s;
      transition: 0.1s; }
      .news .center .container .viewall:hover {
        font-size: 15px; }
    .news .center .container div {
      width: 250px;
      height: 300px;
      -webkit-box-shadow: 0 0 5px rgba(100, 103, 102, 0.5);
              box-shadow: 0 0 5px rgba(100, 103, 102, 0.5);
      -webkit-border-radius: 5px;
              border-radius: 5px;
      margin-top: 10px; }
      .news .center .container div img {
        -webkit-border-radius: 5px;
                border-radius: 5px; }
      .news .center .container div h3 {
        display: block;
        height: 115px;
        margin-right: 5px;
        margin-left: 15px; }
      .news .center .container div a {
        margin-left: 15px;
        text-decoration: none;
        color: #188cef; }
        .news .center .container div a:hover {
          border-bottom: 1px solid #188cef; }

.contact {
  width: 100%;
  height: 500px;
  background-color: #fff;
  color: #000; }
  .contact .center h2 {
    display: block;
    padding-top: 120px;
    padding-bottom: 30px;
    font-family: RobotoBold;
    font-size: 46px; }
  .contact .center div {
    float: left; }
    .contact .center div span {
      display: block;
      margin-top: 20px;
      font-family: RobotoRegular;
      font-size: 10px;
      color: #808080;
      text-transform: uppercase; }
    .contact .center div p {
      font-family: RobotoRegular;
      font-size: 16px; }
  .contact .center form {
    float: right; }
    .contact .center form span {
      display: block;
      margin-top: 25px;
      margin-bottom: 5px;
      font-family: RobotoRegular;
      font-size: 10px;
      color: #808080;
      text-transform: uppercase; }
    .contact .center form input {
      width: 290px;
      height: 35px;
      border: 1px solid #cccbca;
      -webkit-border-radius: 100px;
              border-radius: 100px; }
    .contact .center form button {
      display: block;
      margin-top: 20px;
      width: 290px;
      height: 35px;
      -webkit-border-radius: 100px;
              border-radius: 100px;
      background-color: #188cef;
      color: #fff;
      font-family: RobotoMedium;
      -webkit-transition: 0.1s;
      transition: 0.1s;
      cursor: pointer; }
      .contact .center form button:hover {
        font-size: 14px; }

footer {
  width: 100%;
  height: 75px;
  display: block;
  background-color: #f2f2f2; }
  footer .left {
    float: left; }
    footer .left span {
      display: inline-block;
      color: #808080;
      margin-left: 40px;
      margin-top: 25px;
      font-family: RobotoLight;
      font-size: 14px; }
  footer .right {
    float: right;
    font-family: RobotoRegular;
    margin-top: 25px;
    font-size: 14px; }
    footer .right a {
      display: inline-block;
      margin-right: 20px;
      color: #188cef; }
    footer .right span {
      display: inline-block;
      margin-right: 20px; }

@media screen and (max-width: 740px) {
  .center {
    width: 90%; }
  header nav ul {
    width: 50px;
    height: 50px;
    background-color: #fff;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    margin-top: 15px;
    margin-right: 20px; }
    header nav ul:hover {
      cursor: pointer; }
    header nav ul .top {
      width: 50px;
      height: 4px;
      position: relative;
      top: -16px;
      background-color: #000;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      -webkit-transition: 1s;
      transition: 1s; }
    header nav ul .mid {
      position: relative;
      top: -36px;
      width: 50px;
      height: 4px;
      background-color: #000;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      -webkit-transition: 1s;
      transition: 1s; }
    header nav ul .bot {
      position: relative;
      top: -56px;
      width: 50px;
      height: 4px;
      background-color: #000;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
  header nav .active .top {
    top: 0px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg); }
  header nav .active .mid {
    top: -34px;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  header nav .active .bot {
    opacity: 0;
    top: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  header nav li a {
    display: none; }
  .news .center .container div {
    width: 100%;
    height: 100%; }
    .news .center .container div img {
      width: 100%;
      height: 200px; }
    .news .center .container div h3 {
      padding-top: 20px; }
  .contact {
    height: 700px; }
    .contact .center div {
      display: block;
      width: 100%; }
    .contact .center .right {
      float: left;
      width: 100%; }
      .contact .center .right input {
        width: 100%; }
    .contact .center button {
      margin-left: 20%; }
  .products .center div {
    width: 100%;
    margin-top: 30px; }
  .products .center .sprites_1 {
    margin-left: 0; }
  .news .center .newspost_4, .news .center .newspost_5, .news .center .newspost_6 {
    display: none; } }
